{% extends "base.html" %}

{% block content %}
{% if request.user.is_staff %}
<h1 class='pl3'>Delete Book</h1>

<div class='pl3'>
  <form action="{% url 'delete_book' slug=book.slug %}" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to remove <span class="b">{{ book.title }}</span>?</p>
    <div>
      <button class='mb3' type="submit">Delete Book</button><br />
      <a href="{% url 'home' %}">Cancel</a>
    </div>
  </form>
</div>
{% else %}<div class="f3 ma1 pa3">Only staff may proceed.</div>
{% endif %}
{% endblock %}
