{% extends "base.html" %}

{% block content %}
<h1 class='pl3'>Django Freeshelf</h1>

<div class='flex flex-wrap'>
  {% for book in books %}
  <div class='pa3'>
    <div class='ma1'><i class='fas fa-book mr1'></i>{{ book.title }}</div>

    {% if book.author %}
    <div class='flex'>
      <div class='ma1'><i class='fas fa-user mr1'></i>{{ book.author }}</div>
    </div>
    {% endif %}

    {% if book.url %}
    <div class='flex'>
      <div class='ma1'><i class='fas fa-link mr1'></i>{{ book.url }}</div>
    </div>
    {% endif %}

    {% if book.description %}
    <div class='flex'>
      <div class='ma1'><i class='fas fa-info-circle mr1'></i>{{ book.description }}</div>
    </div>
    {% endif %}

    {% if book.created_at %}
    <div class='flex'>
      <div class='ma1'><i class='fas fa-asterisk mr1'></i>{{ book.created_at }}</div>
    </div>
    {% endif %}

  </div>
  {% endfor %}
</div>  
{% endblock %}