{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<div class='flex flex-wrap'>
    <div class='pa3'>
        {% if book.url %} <div class='ma1'><i class='fas fa-book mr1'></i><a href="{{ book.url }}">{{ book.title }}</a>
        </div>
        {% else %} <div class='ma1'><i class='fas fa-book mr1'></i>{{ book.title }}</div> {% endif %}


        {% if book.author %}
        <div class='flex'>
            <div class='ma1'><i class='fas fa-user mr1'></i>{{ book.author }}</div>
        </div>
        {% endif %}

        {% if book.description %}
        <div class='flex'>
            <div class='ma1'><i class='fas fa-info-circle mr1'></i>{{ book.description }}</div>
        </div>
        {% endif %}

        {% if book.created_at %}
        <div class='flex'>
            <div class='ma1'><i class='fas fa-asterisk mr1'></i>{{ book.created_at }}</div>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
        <p>
            <a href="{% url 'edit_book' slug=book.slug %}">Edit Book</a><br>
            <a class="red" href="{% url 'delete_book' slug=book.slug %}">Delete Book</a>
        </p>
        {% endif %}
    </div>
</div>
{% else %}<div class="f3 ma1 pa3">Please register or login.</div>
{% endif %}
{% endblock %}